---
layout: base
title: GBG 2nd Anniversary Jam
lang: en
---

<header>
    <div>
        <img src="/assets/img/logoEnNegative.svg" alt="GBG 2nd Anniversary Jam">
    </div>
    <div>
        <p>English - <a href="/jp/">日本語</a></p>
    </div>
</header>

<main>
    <section id="dates">
        {% include countdownWidget.html %}
    </section>
    <section style="--headingFill: var(--accentRed);" id="about-the-jam">
        <h1>About the jam</h1>

        <p>
            This week, Game Builder Garage is turning 2 years old! Since the game's release, we got to play so many breathtaking creations from all over the world. But the first GBG creations we ever got to see, the ones showcased in the <a href="https://youtu.be/0yM3ppz0Zt8">game's announcement trailer</a>, were never released to the public.
        </p>
        <p>
            So, to celebrate this anniversary, let's take a trip back to the past, and imagine what it could be like to play those lost trailer games! To participate, pick your favorite trailer game from the list below, and let it inspire you to create something! You could try to faithfully recreate it, or even remix the idea in fun and unexpected ways! Just make sure the original trailer game can be recognized in your creation.
        </p>
        <p>
            Have fun, and happy programming!
        </p>
        <div style="display: flex; justify-content: center; margin-block-start: 1rem;">
            <a href="#rules-and-qa" class="button">Rules and Q&A</a>
        </div>
        
    </section>

    <section style="--headingFill: var(--accentGreen);" id="trailer-games">
        <h1>Trailer games</h1>
        <div class="gamesGrid">
            {% for game in site.data.games %}
                <article class="gameCard">
                    <video src="/assets/video/{{ game.file }}.webm#t=0.001" controls muted="true" preload="metadata" loop="true"></video>
                    <span>{{ game.title }}</span>
                </article>
            {% endfor %}
        </div>
        <p style="font-size: 0.8rem; margin-block-start: 0.5rem">
            * Title is not official, and is for illustrative purposes only.
        </p>
    </section>

    <section style="--headingFill: var(--accentBlue);" id="featured-hosts">
        <h1>Featured hosts</h1>

        <p>Meet the hosts who will play your games on stream once the submission period ends!</p>
        
        <div class="hostGrid">
            {% for host in site.data.hosts %}
                <a href="{{ host.channel }}">
                    <img src="/assets/img/{{ host.image }}" alt="{{ host.name }}" class="hostPortrait">
                    <p class="hostName">
                        {{ host.name }}
                        <span class="hostLanguage">({{ host.language }})</span>
                        <br>
                        <span class="hostTime">
                            {% if host.time != "none" %}
                                {{ host.time }}
                            {% else %}
                                To be announced
                            {% endif %}
                        </span>
                    </p>
                </a>
            {% endfor %}
        </div>
    </section>

    <section style="--headingFill: var(--accentOrange);" id="rules-and-qa">
        <h1>Rules and Q&A</h1>

        {% for question in site.data.qa %}
            <details>
                <summary>{{ question.q }}<span class="icon-chevronright"></span></summary>
                <p>{{ question.a }}</p>
            </details>
        {% endfor %}
        
    </section>
</main>

<footer>
    <p>An event organized by <a href="https://twitter.com/VideoDojoPro">VideoDojo</a>.</p>
    <p>Site designed by <a href="https://twitter.com/voxybuns">Voxy</a>, translated into Japanese by <a href="https://twitter.com/cabbagestole">きゃべつ</a>.</p>
    <p>This event is not affiliated to, or endorsed by Nintendo.</p>
</footer>


