---
layout: base
title: はじプロセカンドアニバーサーリージャム
lang: ja
---

<header>
    <div>
        <img src="/assets/img/logoJpNegative.svg" alt="はじプロセカンドアニバーサーリージャム">
    </div>
    <div>
        <p><a href="/en/">English</a> - 日本語</p>
    </div>
</header>

<main>
    <section id="dates">
        {% include countdownWidget.html %}
    </section>
    <section style="--headingFill: var(--accentRed);" id="about-the-jam">
        <h1>ジャムについて</h1>

        <p>
            今週、はじめてゲームプログラミングは2歳を迎えます！発売以来、私たちは世界中の素晴らしい作品をプレイすることができました。ところで私たちが最初に見たはじプロ作品は<a href="https://youtu.be/ukT5SgdoPoY">商品のコマーシャル</a>用に作られたもので、一般に公開されることはありませんでした。
        </p>
        <p>
            過去にさかのぼって失われたトレーラーゲームをプレイ出来たらどんな感じになるのか、この記念すべき時に一緒に創造してみませんか！以下のリストから好きな作品を選び、そのゲームから着想を得て素晴らしいものを作ってください！忠実に再現してもよいし、思いもよらない楽しい方法でアイデアをリミックスしてもかまいません！但しどのトレーラーゲームをもとにしたかを分かるようにしてください。
        </p>
        <p>
            それでは、プログラミングを楽しみましょう！
        </p>
        <div style="display: flex; justify-content: center; margin-block-start: 1rem;">
            <a href="#rules-and-qa" class="button">ルールとQ&A</a>
        </div>
    </section>

    <section style="--headingFill: var(--accentGreen);" id="trailer-games">
        <h1>トレーラーゲーム</h1>

        <div class="gamesGrid">
            {% for game in site.data.games %}
                <article class="gameCard">
                    <video src="/assets/video/{{ game.file }}.mp4#t=0.001" controls muted="true" preload="metadata" loop="true"></video>
                    <span>{{ game.title }}</span>
                </article>
            {% endfor %}
        </div>
        <p style="font-size: 0.8rem; margin-block-start: 0.5rem">
            * 各トレーラーゲームのタイトルはこのイベント用に後から付けたものです。
        </p>
    </section>

    <section style="--headingFill: var(--accentBlue);" id="featured-hosts">
        <h1>注目のホスト</h1>

        <p>応募期間終了後、チャンネルであなたのゲームをプレイしてくれる配信者を紹介します！</p>
        
        <div class="hostGrid">
            {% for host in site.data.hosts %}
                <a href="{{ host.channel }}">
                    <img src="/assets/img/{{ host.image }}" alt="{{ host.name }}" class="hostPortrait">
                    <p class="hostName">
                        {{ host.name }}
                        <span class="hostLanguage">({{ host.language }})</span>
                        <br>
                        <span class="hostTime">
                            {% if host.time != "none" %}
                                {{ host.time_jp }}
                            {% else %}
                                乞うご期待
                            {% endif %}
                        </span>
                    </p>
                </a>
            {% endfor %}
        </div>
    </section>

    <section style="--headingFill: var(--accentOrange);" id="rules-and-qa">
        <h1>ルールとQ&A</h1>

        {% for question in site.data.qaJP %}
            <details>
                <summary>{{ question.q }}<span class="icon-chevronright"></span></summary>
                <p>{{ question.a }}</p>
            </details>
        {% endfor %}
        
    </section>
</main>

<footer>
    <p>このイベントは<a href="https://twitter.com/VideoDojoPro">VideoDojo</a>が主催しています。</p>
    <p>サイトデザインは<a href="https://twitter.com/voxybuns">Voxy</a>、日本語訳は<a href="https://twitter.com/cabbagestole">きゃべつ</a>が担当しました。</p>
    <p>本イベントは任天堂とは一切関係ありません。</p>
</footer>


