<div id="timeWidget">
    <div class="dueDateWidget">
        <span>
            Submissions are open from <span id="startDate"></span> until <span id="dueDate"></span>
        </span>
        <a href="https://forms.gle/fG6mrL6wUnKbHZnF8" class="button">Submit your game</a>
    </div>
    <div class="countdownWidget">
        <div>
            Submissions will end in...
        </div>
        <div class="countdown">
            <div class="countdownSection">
                <span id="countdownDays"></span>
                <span>days</span>
            </div>
            <div class="countdownSection">
                <span id="countdownHours"></span>
                <span>hours</span>
            </div>
            <div class="countdownSection">
                <span id="countdownMinutes"></span>
                <span>minutes</span>
            </div>
            <div class="countdownSection">
                <span id="countdownSeconds"></span>
                <span>seconds</span>
            </div>
        </div>
    </div>
</div>

<div id="notice" class="hidden">
    Submissions are now closed, thank you for participating! Stay tuned for the celebration streams by our <a href="#featured-hosts">featured hosts!</a>
</div>