<div class="timeWidget">
    <div class="dueDateWidget">Submissions are open from <span id="startDate"></span> until <span id="dueDate"></span></div>
    <div class="countdownWidget">
        <div>
            Submissions due in
        </div>
        <div class="countdown">
            <div class="countdownSection">
                <span id="countdownDays"></span>
                <span>days</span>
            </div>
            <div class="countdownSection">
                <span id="countdownHours"></span>
                <span>hours</span>
            </div>
            <div class="countdownSection">
                <span id="countdownMinutes"></span>
                <span>minutes</span>
            </div>
            <div class="countdownSection">
                <span id="countdownSeconds"></span>
                <span>seconds</span>
            </div>
        </div>
    </div>
</div>